---

---

<nav class="bg-[#4D425F] h-[45px] w-full px-4 py-1 rounded-lg">
    <div class="flex flex-nowrap justify-evenly items-stretch w-full h-full font-semibold text-xl">
        <a href="#" class="text-[#A364FF] self-center transform transition hover:underline">Sobre mi</a>
        <a href="#" class="text-[#FFC7FF] self-center transform transition hover:underline">Habilidades</a>
        <a href="#" class="text-[#FFC7FF] self-center transform transition hover:underline">Proyectos</a>
        <a href="#" class="text-[#FFC7FF] self-center transform transition hover:underline">Contacto</a>
    </div>
</nav>