---

---

<nav class="bg-[#4D425F] h-[45px] md:h-[55px] w-full px-4 py-1 rounded-lg">
    <div class="flex flex-nowrap justify-evenly items-stretch w-full h-full font-semibold text-xl">
        <a href="/#AboutMe" class="scroll-smooth text-[#A364FF] self-center duration-700 ease-in-out transition hover:underline duration-[1s,15s]">Sobre mi</a>
        <a href="/#TecSkills" class="scroll-smooth text-[#FFC7FF] self-center duration-700 ease-in-out transition hover:underline">Habilidades</a>
        <a href="/projects" class="text-[#FFC7FF] self-center duration-700 ease-in-out transition hover:underline">Proyectos</a>
        <a href="mailto:angelnolasco513@gmail.com" class="scroll-smooth text-[#FFC7FF] self-center duration-700 ease-in-out transition hover:underline">Contacto</a>
    </div>
</nav>