---
import type { Skill } from "../interfaces/interfaces";

interface Props {
    img: string;
    name: string;
    level: number;
}

const { img, name, level } = Astro.props as Skill;
const int: number = Math.floor(level);
const dec: number = (level%int)*100;
const empty: number = 4 - int;
---

<div class="w-full mb-3">
    <div class="w-full flex flex-row">
        <img src={img} class="self-center pr-2" />
        <span class="self-center font-medium">{name}</span>
    </div>
    <div class="flex justify-center flex-row my-2">
        {
            Array.from({ length: int }).map((_, index) => (
                <div class="h-3 w-1/5 mr-1 bg-[#CB80FF] rounded-2xl"></div>
            ))
        }
        <div class="h-3 w-1/5 mr-1 flex flex-row bg-[#E0E0E0] rounded-2xl">
            <div class={`h-full w-${dec}/100 bg-[#CB80FF] rounded-xl`}></div>
        </div>
        {
            Array.from({ length: empty }).map((_, index) => (
                <div class="h-3 w-1/5 mr-1 bg-[#E0E0E0] rounded-2xl"></div>
            ))
        }
    </div>
</div>
